// Import theming functions
@use "@angular/material" as mat;
// Import custom theme
@import "client/theme.scss";

hi-history-list {
  .current {
    color: mat.get-color-from-palette($hi-primary);
  }

  .mat-icon {
    @include md-icon-size(20px);
  }
}
