<section>
  <section fxLayout="row" fxLayoutAlign="center center">
    <md-icon>search</md-icon>
    <md-input-container>
      <input mdInput
        placeholder="Type to filter the configurations..."
        (keyup)="updateFilter($event)"/>
    </md-input-container>
  </section>
  <md-card>
    <md-card-header>
      <md-card-title>
        Simple Fields
        <span *ngIf="keyword" class="filtered">(filtered)</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <ngx-datatable
        #simpleTable
        class="material"
        [headerHeight]="rowHeight"
        rowHeight="auto"
        [footerHeight]="rowHeight"
        columnMode="force"
        [rows]="simpleConfigs"
        [sorts]="sorts"
        [limit]="20"
        [loadingIndicator]="isLoading">
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Value"></ngx-datatable-column>
      </ngx-datatable>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>
        List Fields
        <span *ngIf="keyword" class="filtered">(filtered)</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <ngx-datatable
        #listTable
        class="material"
        [headerHeight]="rowHeight"
        rowHeight="auto"
        [footerHeight]="rowHeight"
        columnMode="force"
        [rows]="listConfigs"
        [sorts]="sorts"
        [limit]="10"
        [loadingIndicator]="isLoading">
        <ngx-datatable-column name="Name" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column name="Value" [width]="400">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ngx-datatable
              class="material"
              [headerHeight]="rowHeight"
              rowHeight="auto"
              columnMode="force"
              [rows]="value">
              <ngx-datatable-column name="Value"></ngx-datatable-column>
            </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </md-card-content>
  </md-card>
  <md-card>
    <md-card-header>
      <md-card-title>
        Map Fields
        <span *ngIf="keyword" class="filtered">(filtered)</span>
      </md-card-title>
    </md-card-header>
    <md-card-content>
      <ngx-datatable
        class="material"
        [headerHeight]="rowHeight"
        rowHeight="auto"
        [footerHeight]="rowHeight"
        columnMode="force"
        [rows]="mapConfigs"
        [sorts]="sorts"
        [limit]="10"
        [loadingIndicator]="isLoading">
        <ngx-datatable-column name="Name" [width]="80"></ngx-datatable-column>
        <ngx-datatable-column name="Value" [width]="500">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <ngx-datatable
              class="material"
              [headerHeight]="rowHeight"
              rowHeight="auto"
              columnMode="force"
              [rows]="value"
              [sorts]="sorts">
              <ngx-datatable-column name="Name"></ngx-datatable-column>
              <ngx-datatable-column name="Value"></ngx-datatable-column>
            </ngx-datatable>
          </ng-template>
        </ngx-datatable-column>
      </ngx-datatable>
    </md-card-content>
  </md-card>
</section>
