@import '~@angular/material/theming';

.status-disabled {
  margin-left: 10px;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 4px;
  border: 1px solid mat-color(mat-palette($mat-red), 900);
  background-color: mat-color(mat-palette($mat-red), darker);
  color: rgb(255, 255, 255);
  line-height: 26px;
}
