<div ng-controller="HelixController">	
			<h3>Helix Resource Group</h3>
			
			<p>Add New Resource : <input type="text" ng-model="resource_name" placeholder="Resource name"></p>
			<p>Select Cluster : <select data-ng-options="o for o in clusters.listFields.clusters" data-ng-model="clusters.listFields.clusters[0]"></select>			
			<button ng-click="addC" type="button" class="btn btn-primary">Add To Cluster</button></p>
				<table class="table table-striped">
				<thead>
					<tr>
					  <td><B>Resource</B></td>
					  <td><B>Action</B></td>
					  
					</tr>
				</thead>
					<tbody>
						<tr ng-repeat='item in clusters.listFields.clusters'>
						<td>{{item}}</td>
						<td>information|config|ideal state|external view|reset|delete</td>
						</tr>
					</tbody>
				</table>
</div>
