		<div ng-controller="HelixController">
			<p>Title: {{clusters.id}}</p>
			<p>Clusters: {{clusters.listFields.clusters}}</p>
			 Choose a new activity:
        <select data-ng-model="clusters.listFields.clusters[0]"
                data-ng-options="act for act in clusters.listFields.clusters">                
        </select>
		<table border="1">
			<tbody>
				<tr ng-repeat='item in clusters.listFields.clusters'>
					<td>{{item}}</td>
					<td>information|remove|test</td>
				</tr>
			</tbody>
		</table>
		</div>