cscope.*
.classpath
.project
.svn
target/
/recipes/rabbitmq-consumer-group/target/
.idea
*.iml
*.ipr
*.iws
.settings/
out/
.DS_Store
#this directory will be part of release process
helix-dev-release/
.shelf/
