@use '@angular/material' as mat;

.info {
  padding: 24px;
}

.status-healthy {
  color: mat.get-color-from-palette(mat.$blue-palette);
}

.status-not-healthy {
  // color: mat-color(mat-palette($mat-grey, 900, 900, 900));
  color: mat.get-color-from-palette(mat.$grey-palette);
}
