@import '~@angular/material/theming';

.info {
  padding: 24px;
}

.status-healthy {
  color: mat-color(mat-palette($mat-blue));
}

.status-not-healthy {
  color: mat-color(mat-palette($mat-grey, 900, 900, 900));
}
