/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/* all */

.table-button {
    text-align: right;
}

/* side-nav.ftl */

#panel-helix-logo {
    text-align: center;
}

#add-cluster-form {
    margin-bottom: 1em;
    margin-top: 1em;
}

/* landing-view.ftl */

#landing-area {
    text-align: center;
    margin-top: 10%;
}

#landing-area img {
    margin: 5%;
}

#landing-area form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#landing-area input {
    width: 80%;
}

/* cluster-view.ftl */

#cluster-views-area {
    margin-top: 2em;
    margin-right: 2em;
}

.non-live-instance {
    background-color: #eee;
}

#cluster-admin-form {
    text-align: right;
}

/* resource-state-table.ftl */

.filter-area {
    margin-left: 5pt;
    margin-top: 20pt;
}

.state-ok {
}

.state-warn {
    background-color: #fffceb;
}

.state-error {
    background-color: #fff1f0;
}

#filter-form input {
    margin-left: 1em;
}

#filter-form button {
    margin-left: 1em;
}

/* ideal-state-table.ftl */

.ideal-state-prop {
    font-style: italic;
}

.instance-disabled {
    background-color: #fffceb;
}

.instance-down {
    background-color: #e5e5e5;
}
