// Material Icons & Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

// ngx-datatable styles
@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
