#loading {
  .overlay, md-spinner {
    position: fixed;
    left: 0;
    right: 0;
  }

  .overlay {
    bottom: 0;
    top: 0;
    background-color: #262626;
    opacity: 0.3;
    transition: all linear 300ms;
    -webkit-transition: all linear 300ms;
    z-index: 99999;
  }

  md-spinner {
    top: 40%;
    margin: 0 auto;
    z-index: 999999;
  }
}
