.header, .footer {
  z-index: 7;
}

.mat-progress-bar {
  position: fixed;
  top: 64px;
  z-index: 5;

  &.no-header {
    top: 0;
  }
}

.footer {
  background-color: #f5f5f5;
  height: 50px;

  span {
    font-weight: normal;
    font-size: 14px;
    color: #666;
  }
}

.main-container {
  height: calc(100vh - 64px - 50px);
  overflow-y: scroll;

  &.no-header {
    height: 100vh;
  }
}
