<section class="app" fxLayout="column" fxFill>
  <md-toolbar *ngIf="headerEnabled" class="header mat-elevation-z7" color="primary">
    <button md-icon-button
      *ngIf="isNarrowView"
      (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
    <h2>Helix</h2>
    <a md-button *ngIf="false" (click)="openDialog()">Test</a>
  </md-toolbar>
  <md-progress-bar [mode]="isLoading ? 'indeterminate' : 'determinate'" [value]="100"></md-progress-bar>
  <md-sidenav-container fxFlex>
    <md-sidenav
      #sidenav
      [mode]="isNarrowView ? 'over' : 'side'"
      [opened]="!isNarrowView"
      [disableClose]="!isNarrowView"
      class="mat-elevation-z4">
      <hi-cluster-list></hi-cluster-list>
    </md-sidenav>
    <router-outlet></router-outlet>
  </md-sidenav-container>
  <section *ngIf="footerEnabled" class="footer mat-elevation-z7" fxLayout="row" fxLayoutAlign="center center">
    <span>&copy; 2017 Helix. All rights reserved.</span>
  </section>
</section>
