// ngx-vis styles (vis styles)
@use 'node_modules/vis/dist/vis-network.min.css';

// ngx-datatable styles
@use 'node_modules/@swimlane/ngx-datatable/src/styles.scss';
@use 'node_modules/@swimlane/ngx-datatable/projects/swimlane/ngx-datatable/src/lib/themes/material.scss';
@use 'node_modules/@swimlane/ngx-datatable/src/assets/icons.css';

// Material Icons & Fonts
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');

// with overrides
.ngx-datatable.material {
  &.single-selection,
  &.multi-selection,
  &.multi-click-selection {
    .datatable-body-row {
      // use hand cursor for selectable rows
      cursor: pointer;

      &.active,
      &.active .datatable-row-group {
        background-color: #0077B5 !important;

        .datatable-body-cell {
          color: #FFF !important;
        }
      }
    }
  }
  // .datatable-body {
  //   .datatable-body-row {
  //     .datatable-body-cell {
  //       line-height: 40px;
  //     }
  //   }
  // }
}

body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}
