<form (ngSubmit)="onSubmit()" #inputForm="ngForm">
  <h1 md-dialog-title>{{ title }}</h1>
  <div md-dialog-content>
    <section>
      {{ message }}
    </section>
    <md-input-container *ngFor="let name of getKeys(values)">
      <input mdInput
        [name]="name"
        [(ngModel)]="values[name].value"
        [placeholder]="values[name].label"
        required>
    </md-input-container>
  </div>
  <div md-dialog-actions>
    <button md-button type="submit" color="primary" [disabled]="!inputForm.form.valid">OK</button>
    <button md-button type="button" (click)="onCancel()">Cancel</button>
  </div>
</form>
