@import '~@angular/material/theming';
@import 'client/theme.scss';

.primary {
  color: mat-color($hi-primary);
}

md-input-container {
  width: 300px;
  padding: 10px 0 0 5px;
}

md-card {
  margin-bottom: 10px;
}

ngx-datatable {
  word-break: break-all;
}
