<mat-toolbar class="mat-elevation-z1">
  <mat-toolbar-row>
    <hi-detail-header [cluster]="clusterName" [workflow]="workflow?.name"></hi-detail-header>
  </mat-toolbar-row>
  <mat-toolbar-row class="information">
    <a mat-mini-fab routerLink="../"><mat-icon>arrow_back</mat-icon></a>
    <hi-key-value-pairs [obj]="workflow">
      <hi-key-value-pair name="Capacity" prop="config.capacity"></hi-key-value-pair>
      <hi-key-value-pair name="Target State" prop="config.TargetState"></hi-key-value-pair>
      <hi-key-value-pair name="Terminable" prop="config.Terminable"></hi-key-value-pair>
      <hi-key-value-pair name="Parallel Jobs" prop="config.ParallelJobs"></hi-key-value-pair>
      <hi-key-value-pair name="Failure Threshold" prop="config.FailureThreshold"></hi-key-value-pair>
      <hi-key-value-pair name="Expiry" prop="config.Expiry"></hi-key-value-pair>
    </hi-key-value-pairs>
  </mat-toolbar-row>
</mat-toolbar>
<section fxLayout="column" fxLayoutAlign="center center">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <section class="content" fxFlexFill>
    <ngx-json-viewer [json]="workflow"></ngx-json-viewer>
  </section>
</section>
