// Import theming functions
@import '~@angular/material/theming';
// Import custom theme
@import 'src/theme.scss';

hi-history-list {
  .current {
    color: mat-color($hi-primary);
  }

  .datatable-body-cell {
    line-height: 40px !important;
  }
}
