<section>
  <md-toolbar class="mat-elevation-z1">
    <hi-detail-header [cluster]="clusterName" [instance]="instance?.name"></hi-detail-header>
    <md-toolbar-row class="information">
      <a md-mini-fab routerLink="../"><md-icon>arrow_back</md-icon></a>
      <md-spinner *ngIf="isLoading"></md-spinner>
      <hi-key-value-pairs *ngIf="!isLoading && instance.liveInstance != null" [obj]="instance">
        <hi-key-value-pair name="Instance" prop="liveInstance"></hi-key-value-pair>
        <hi-key-value-pair name="Session ID" prop="sessionId"></hi-key-value-pair>
        <hi-key-value-pair name="Helix Version" prop="helixVersion"></hi-key-value-pair>
      </hi-key-value-pairs>
      <section *ngIf="!isLoading && !instance.liveInstance">
        <div class="offline">
          This Instance is currently offline.
        </div>
      </section>
    </md-toolbar-row>
  </md-toolbar>
  <nav md-tab-nav-bar>
    <a md-tab-link
      *ngFor="let tabLink of tabLinks"
      [routerLink]="tabLink.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{ tabLink.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</section>
