@import '~@angular/material/theming';
@import 'src/theme.scss';

.information {

  font-size: 14px;

  md-spinner {
    width: 30px;
    height: 30px;
    margin: 0 20px;
  }

  .column {
    padding-left: 40px;
  }

  .name {
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
  }

  .offline {
    padding-left: 24px;
    color: mat-color($hi-warn);
  }
}
