<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="true">
  <test name="Test" preserve-order="false">
    <classes>
      <class name="com.linkedin.clustermanager.TestClusterManagerMain"/>
      <class name="com.linkedin.clustermanager.TestDistClusterController"/>
    </classes>
  </test>
</suite>
