<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test" preserve-order="true">
    <packages>
      <package name="com.linkedin.helix.messaging.handling"/>
      <package name="com.linkedin.helix.agent.file"/>
      <package name="com.linkedin.helix.monitoring"/>
      <package name="com.linkedin.helix.store.zk"/>
      <package name="com.linkedin.helix.messaging"/>
      <package name="com.linkedin.helix.controller.stages"/>
      <package name="com.linkedin.helix.store.file"/>
      <package name="com.linkedin.helix.store"/>
      <package name="com.linkedin.helix.monitoring.mbeans"/>
      <package name="com.linkedin.helix.participant"/>
      <package name="com.linkedin.helix"/>
      <package name="com.linkedin.helix.agent.zk"/>
      <package name="com.linkedin.helix.integration"/>
    </packages>
  </test>
</suite>	
