<section class="cluster-list">
  <section *ngIf="isLoading" fxLayout="row" fxLayoutAlign="center center">
    <md-spinner>
      Loading all clusters ...
    </md-spinner>
  </section>
  <md-nav-list *ngIf="!isLoading && !errorMessage">
    <h3 md-subheader>Clusters</h3>
    <a *ngFor="let cluster of clusters"
      md-list-item
      [routerLink]="['/clusters', cluster.name]"
      routerLinkActive="cluster-list-item-selected">
      <md-icon md-list-icon>blur_circular</md-icon>
      <h4 md-line>{{ cluster.name }}</h4>
    </a>
  </md-nav-list>
  <section class="error-message" *ngIf="errorMessage">
    {{ errorMessage }}
  </section>
</section>
