<section>
  <md-toolbar class="mat-elevation-z1">
    <hi-detail-header [cluster]="clusterName" [resource]="resourceName"></hi-detail-header>
    <hi-disabled-label *ngIf="!isLoading && !resource.online" text="OFFLINE"></hi-disabled-label>
    <hi-disabled-label *ngIf="!isLoading && !resource.enabled" text="DISABLED"></hi-disabled-label>
    <md-toolbar-row class="information">
      <a md-mini-fab routerLink="../"><md-icon>arrow_back</md-icon></a>
      <md-spinner *ngIf="isLoading"></md-spinner>
      <hi-key-value-pairs *ngIf="!isLoading" [obj]="resource">
        <hi-key-value-pair name="Ideal State Mode" prop="idealStateMode"></hi-key-value-pair>
        <hi-key-value-pair name="Rebalance Mode" prop="rebalanceMode"></hi-key-value-pair>
        <hi-key-value-pair name="State Model" prop="stateModel"></hi-key-value-pair>
        <hi-key-value-pair name="Ideal Partitions" prop="partitionCount"></hi-key-value-pair>
        <hi-key-value-pair name="Replication Factor" prop="replicaCount"></hi-key-value-pair>
      </hi-key-value-pairs>
      <span fxFlex="1 1 auto"></span>
      <button md-mini-fab *ngIf="can" [mdMenuTriggerFor]="menu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="resource && resource.enabled" (click)="disableResource()">
          <md-icon>not_interested</md-icon>
          <span>Disable this Resource</span>
        </button>
        <button md-menu-item *ngIf="resource && !resource.enabled" (click)="enableResource()">
          <md-icon>play_circle_outline</md-icon>
          <span>Enable this Resource</span>
        </button>
        <button md-menu-item *ngIf="false" (click)="removeResource()">
          <md-icon>delete</md-icon>
          <span>REMOVE this Resource</span>
        </button>
      </md-menu>
    </md-toolbar-row>
  </md-toolbar>
  <nav md-tab-nav-bar>
    <a md-tab-link
      *ngFor="let tabLink of tabLinks"
      [routerLink]="tabLink.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{ tabLink.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</section>
