@use 'client/theme.scss' as theme;

.mat-icon {
  @include md-icon-size(20px);

  &:hover {
    color: map.get(theme.$hi-warn, 700);
  }
}

.mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.footer {
  width: 100%;
  padding: 0 20px;
}
