@import 'client/theme.scss';

.mat-icon {
  @include md-icon-size(20px);

  &:hover {
    color: mat-color($hi-warn);
  }
}

.mat-icon-button {
  width: 24px;
  height: 24px;
  line-height: 24px;
}

.footer {
  width: 100%;
  padding: 0 20px;
}
