<mat-sidenav-container fxFill>
  <mat-sidenav
    #sidenav
    [mode]="isNarrowView ? 'over' : 'side'"
    [opened]="!isNarrowView"
    [disableClose]="!isNarrowView"
    class="mat-elevation-z4">
    <hi-cluster-list></hi-cluster-list>
  </mat-sidenav>
  <section fxFill>
    <router-outlet></router-outlet>
  </section>
</mat-sidenav-container>
<button mat-mini-fab [ngClass]="['toggle-button', sidenav.opened ? 'open' : 'close']" color="" (click)="toggleSidenav()">
  <mat-icon>chevron_{{ sidenav.opened ? 'left' : 'right' }}</mat-icon>
</button>
