@use '@angular/material' as mat;

.info {
  padding: 24px;
}

.status-healthy {
  color: mat.get-color-from-palette(mat.define-palette(mat.$blue-palette));
}

.status-not-healthy {
  color: mat.get-color-from-palette(
    mat.define-palette(mat.$grey-palette, 900, 900, 900)
  );
}
