<section>
  <ngx-datatable
    #instancesTable
    class="material"
    [headerHeight]="rowHeight"
    [rowHeight]="rowHeight"
    columnMode="force"
    [footerHeight]="rowHeight"
    [rows]="instances"
    selectionType="single"
    [sorts]="sorts"
    (select)="onSelect($event)">
    <ngx-datatable-column
      name="Status"
      prop="liveInstance"
      [width]="85"
      [resizeable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <md-icon *ngIf="value" color="primary">lens</md-icon>
        <md-icon *ngIf="!value" color="warn" mdTooltip="The instance is offline.">cloud_off</md-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name"></ngx-datatable-column>
  </ngx-datatable>
</section>
