@import '~@angular/material/theming';
@import 'client/theme.scss';

.node-viewer {
  padding: 10px;
}

.primary {
  color: mat-color($hi-primary);
}

.search-form-field {
  width: 300px;
  padding: 10px 0 0 5px;
}

mat-card {
  margin-bottom: 10px;
}

ngx-datatable {
  word-break: break-all;
}

.footer {
  width: 100%;
  padding: 0 20px;
}

.delete-button {
  width: 24px;
  height: 24px;
  line-height: 24px;

  .mat-icon {
    @include md-icon-size(20px);

    &:hover {
      color: mat-color($hi-warn);
    }
  }
}
