<section>
  <md-toolbar class="mat-elevation-z1">
    <hi-detail-header [cluster]="clusterName" [instance]="instanceName"></hi-detail-header>
    <hi-disabled-label *ngIf="!isLoading && !instance.liveInstance" text="OFFLINE"></hi-disabled-label>
    <hi-disabled-label *ngIf="!isLoading && !instance.enabled" text="DISABLED"></hi-disabled-label>
    <md-toolbar-row class="information">
      <a md-mini-fab routerLink="../"><md-icon>arrow_back</md-icon></a>
      <md-spinner *ngIf="isLoading"></md-spinner>
      <hi-key-value-pairs *ngIf="!isLoading" [obj]="instance">
        <hi-key-value-pair name="Instance" prop="liveInstance"></hi-key-value-pair>
        <hi-key-value-pair name="Session ID" prop="sessionId"></hi-key-value-pair>
        <hi-key-value-pair name="Helix Version" prop="helixVersion"></hi-key-value-pair>
      </hi-key-value-pairs>
      <span fxFlex="1 1 auto"></span>
      <button md-mini-fab *ngIf="can" [mdMenuTriggerFor]="menu">
        <md-icon>menu</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item *ngIf="instance && instance.enabled" (click)="disableInstance()">
          <md-icon>not_interested</md-icon>
          <span>Disable this Instance</span>
        </button>
        <button md-menu-item *ngIf="instance && !instance.enabled" (click)="enableInstance()">
          <md-icon>play_circle_outline</md-icon>
          <span>Enable this Instance</span>
        </button>
        <button md-menu-item (click)="removeInstance()">
          <md-icon>delete</md-icon>
          <span>REMOVE this Instance</span>
        </button>
      </md-menu>
    </md-toolbar-row>
  </md-toolbar>
  <nav md-tab-nav-bar>
    <a md-tab-link
      *ngFor="let tabLink of tabLinks"
      [routerLink]="tabLink.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{ tabLink.label }}
    </a>
  </nav>
  <router-outlet></router-outlet>
</section>
