@import '~@angular/material/theming';

div.message {
  padding: 20px;
}

.status-ready {
  color: mat-color(mat-palette($mat-green));
}

.status-not-ready {
  color: mat-color(mat-palette($mat-orange), darker);
}

.footer {
  width: 100%;
  padding: 0 20px;
}
