@import '~@angular/material/theming';

div.message {
  padding: 20px;
}

.status-ready {
  color: mat-color(mat-palette($mat-blue));
}

.status-not-ready {
  color: mat-color(mat-palette($mat-grey, 900, 900, 900), darker);
}

.footer {
  width: 100%;
  padding: 0 20px;
}
