<section>
  <ngx-datatable
    #resourcesTable
    class="material"
    [headerHeight]="rowHeight"
    rowHeight="auto"
    columnMode="force"
    [footerHeight]="rowHeight"
    [rows]="resources"
    selectionType="single"
    [sorts]="sorts"
    [loadingIndicator]="isLoading"
    (select)="onSelect($event)">
    <ngx-datatable-column
      *ngIf="!isForInstance"
      name="Status"
      prop="alive"
      [width]="85"
      [resizeable]="false"
      [draggable]="false"
      [canAutoResize]="false">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <md-icon *ngIf="value" color="primary">lens</md-icon>
        <md-icon *ngIf="!value" color="warn" mdTooltip="The resource is offline.">cloud_off</md-icon>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      *ngIf="isForInstance"
     [width]="50"
     [resizeable]="false"
     [sortable]="false"
     [draggable]="false"
     [canAutoResize]="false">
     <ng-template let-row="row" ngx-datatable-cell-template>
       <md-icon>{{ row.$$expanded ? 'expand_more' : 'chevron_right' }}</md-icon>
     </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Name"></ngx-datatable-column>
    <ngx-datatable-row-detail rowHeight="auto">
      <ng-template let-row="row" ngx-datatable-row-detail-template>
        <hi-resource-detail-for-instance
          [clusterName]="clusterName"
          [instanceName]="instanceName"
          [resourceName]="row.name">
        </hi-resource-detail-for-instance>
      </ng-template>
    </ngx-datatable-row-detail>
  </ngx-datatable>
</section>
